*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
header {
    padding: 50px;
    background-color: white;
}
/* nav{
    height: 13%;
    width:100%;
} */
/* nav ul{
    float: right;
    width: 230px;
    margin-right: 20px;
} */
/* nav ul li{
    line-height: 40px; 
    margin: 0 5px;
} */
/* nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align:center;
} */
.dropdown:hover .dropdown-menu {
    display: block;
}
/* nav a.active,nav a:hover{
    background: #1b9bff;
    transition: .5s;
} */
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.main {
    padding-bottom: 50px;
}
.footer_text_color{
    color: white;
}
.footer_link a{
    text-decoration:none;
    color: white;
}
.footer_link a:hover{
    color: white;
}
.contact{
    color: #4F4F4F;
}
.show_article a{
    text-decoration:none;
    color: black;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.show_article a:hover{
    color: rgb(255, 0, 0);
    opacity: 0.7;
}
img{
    text-align: center;
}
/* 文章圖片觸碰設定 start */
.list-group-item .img .article_img{
    width: 230px;
    height: 130px;
}
/* 文章圖片觸碰設定 end */

.list-group-item .txt:hover{
    text-align: center;
}
.list-group-item .txt{
    text-align: center;
}
.list-group-item .time{
    color: #696969;
    text-align: center;
}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    nav a{
        visibility:hidden;
    }
    .nav_img{
        visibility:hidden;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
}

 /* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .list-group-item .img .article_img{
        width: initial;
        display: block;
        max-width: 100%;
        height: auto;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}